.button {
    display: block;
    color: @proj-black;
    background-color: @proj-white;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    text-decoration: none;
    border-width: 0;

    &_push {
        &:active {
            border: 1px solid #c0c0c0;
            box-sizing: border-box;
            transition: none;
        }

    }

    &_long {
        width: 212px;
        height: 45px;
        border-radius: 22.5px;
        font-size: 18px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 3.6px;
    }

    &:hover {
        .hover()
    }

}
