.products-menu {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
    align-items: center;
    z-index: 4;

    &__item {
        color: @proj-grey;
        font-weight: 700;
        text-align: center;
        display: block;
        text-decoration: none;
        padding-bottom: 19px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        letter-spacing: 2px;
        border-bottom: 1px solid @proj-grey;

        &_active {
            color: @proj-black;
            border-bottom: 3px solid @proj-black;
            padding-bottom: 17px;
        }

        &:hover:not(.products-menu__item_active) {
            color: @proj-grey + #444;
        }

    }

}
