.menu {
    display: flex;
    list-style-type: none;
    font-size: 14px;

    &__link {
        display: block;
        color: #8c8c8c;
        padding: 10px 13px;
        font-weight: 300;
        line-height: 10px;
        text-decoration: none;

        &:hover:not(.menu_active) {
            color: @proj-black;
            border-bottom: 1px solid @proj-black;
        }

    }

    &__item {
        &_prof:hover {
            .menu__dropprofil {
                display: block;
            }

            .menu__link:hover:not(.menu_active) {
                border-bottom: none;
            }

        }

    }

    &__dropprofil {
        display: none;
        position: absolute;
        z-index: 1;
    }

    &_active {
        color: @proj-black;
        font-weight: 700;
        border-bottom: 3px solid @proj-black;
    }

}
