.lnk-ghost {
    color: @proj-black;
    letter-spacing: 3.3px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    height: 16px;

    &:hover {
        border-bottom: 2px solid @proj-black;
    }

}
