.promo-product {
    display: flex;
    max-height: 683px;

    &__item {
        display: flex;
        position: relative;
        max-height: 570px;
    }

    &__img {
    }

    &__info {
        padding-top: 228px;
        padding-left: 51px;
        position: absolute;
        margin: auto;
    }

    &__text {
        width: 374px;
        font-size: 13px;
        line-height: 18px;
        margin-top: 24px;
    }

    &__button {
        margin-top: 34px;
    }

    &__h3 {
        color: @proj-blue;
    }

    &__h2 {
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 22px;
    }

}
