.authForm {
    text-align: center;
    display: flex;
    justify-content: center;

    &__form {
        margin-bottom: 120px;
        .marging-section();
        display: flex;
        flex-direction: column;
    }

}
