.locations {
    display: flex;
    justify-content: space-between;
    text-align: center;

    &__location {
        border: 1px solid #9c9c9c;
        background-color: #fff;
        width: 370px;
        height: 370px;
        padding-top: 48px;
        box-sizing: border-box;
    }

    &__imap {
        color: @proj-black;
        font-size: 48px;
        line-height: 48px;
        width: 48px;
        text-align: center;
    }

    &__h3 {
        margin-top: 34px;
    }

    &__lblphone {
        .label();
    }

    &__phone {
        .fields();
    }

    &__lblemail {
        .label();
    }

    &__email {
        .fields();
    }

    &__lbladdres {
        .label();
    }

    &__addres {
        .fields();
        color: @proj-grey;
        font-weight: 300;
        text-align: center;
    }

}
