{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Contacts" %}
{% endblock title %}

{% block context %}
    <div class="contacts">
        <h1>{% trans 'Contact us' %}</h1>
        <form action="#" target="_blank">
            <p>{% trans 'First name' %}</p>
            <input type="text" name="first_name" autofocus required>
            <p>{% trans 'Last name' %}</p>
            <input type="text" name="last_name" required>
            <p>{% trans 'Email' %}</p>
            <input type="email" name="email" placeholder="email@email.com" required>
            <p>{% trans 'Select a topic' %}</p>
            <select name="topics" id="topics">
                <option value="df">...</option>
                <option value="pr">{% trans 'About products' %}</option>
                <option value="sp">{% trans 'Support' %}</option>
                <option value="sh">{% trans 'Shipment' %}</option>
                <option value="ot">{% trans 'Other' %}</option>
            </select>
            <p>{% trans 'Please, enter some info here...' %}</p>
            <textarea cols="30" rows="10"></textarea>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
{% endblock context %}
