{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    {% trans "Main" %}
{% endblock title %}
{% block context %}
    <div class="welcome">
        <h2>{% trans 'Welcome in our sneakers online shop.' %}</h2>
        <h2>{% trans 'Here you can find a lot of sneakers with different designs from different brands.' %}</h2>
        <div class="products">
            <img src="{{ object_list.0.pictures.all.0.image.url }}" alt="{% trans 'sneakers' %}">
            <img src="{{ object_list.1.pictures.all.0.image.url }}" alt="{% trans 'sneakers' %}">
        </div>
        <a class="button_link" href="{% url 'main:products' %}">{% trans 'Go to catalogue' %}</a>
    </div>
{% endblock context %}