.product-slider {
    width: 570px;
    float: left;

    &__item {
        width: 70px;
        height: 70px;

        &_full {
            height: 570px;
        }

        &_active {
            opacity: 0.4;
        }

        &:hover {
            opacity: 0.4;
        }

    }

    &__switcher {
        width: 230px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

}
