.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h1 {
        color: @proj-black;
        font-size: 35.98px;
        font-weight: 700;
        margin-top: 119px;
    }

    &__h3 {
        margin-top: 23px;
        text-align: center;
        color: @proj-red;
    }

    &__price {
        font-family: 'Gotham Pro Light';
        color: @proj-black;
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
        margin-top: 36px;

        &_num {
            color: @proj-black;
            font-size: 72px;
            font-weight: 300;
            line-height: 72px;
        }

    }

    &__text {
        font-family: 'Gotham Pro Light';
        width: 499px;
        margin-top: 49px;
        color: @proj-black;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
    }

    .button_long {
        display: flex;
        justify-content: center;
        align-items: inherit;
        margin-top: 31px;
        background-color: @btn-red;
        box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, .35);
        width: 510px;
        height: 71px;
        border-radius: 35px;
        color: #fff;
        font-size: 22px;
        letter-spacing: 4px;
        line-height: normal;
        border: 0;

        img {
            margin-left: 24px;
        }

    }

    .button:hover {
        box-shadow: 0 2px 4.85px 0.15px black;
        transition: .3s;
    }

    .button_push:active {
        transition: none;
        box-shadow: 0 2px 4.85px 0.15px @btn-red;
        border: none;
    }

    .changePass {
        margin-top: 30px;
        border-radius: 10%;
    }

}
