.related-product {
    margin-top: 245px;

    &__title {
    }

    &__h2 {
    }

    &__img {
        height: 370px;
        width: 370px;
    }

    .trending-products__products {
        margin-top: 41px;
    }

}
