{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="main-contact">
        <h1 class="main-contact__title main-products__title">{% trans "Contact Us" %}</h1>
        <section class="locations padding-site main-contact__locations">
            {% for location in object_list %}
                {% include "mainapp/includes/inc-location.html" %}
            {% endfor %}
        </section>
    </div>
{% endblock content %}