{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <div class="basketPage">
        <h1 class="basketPage__title main-products__title">{% trans "Buy from us" %}</h1>
        {% if object.spc.count == 0 %}
            <div class="text basketPage__text marging-section">
                {% trans "You have not ordered anything yet, go ahead :)" %}
            </div>
        {% else %}
            <table class="basketPage__table marging-section padding-site">
                <tr>
                    <th>{% trans '№' %}</th>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Count' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th colspan="3">{% trans 'Cost' %}</th>
                </tr>
                {% for spc in object.spc.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'main:products_detail' spc.ware.id %}">{% trans spc.ware.title %}</a></td>
                        <td class="basketPage__table_quant">
                            {% if object.status == object.FORMING and not isread %}
                                <form method="post">{% csrf_token %}
                                        <input type="hidden" name="down" value="{{spc.id}}" />
                                        <button type="submit"><i class="{% if spc.quant > 1 %}fas fa-minus{% endif %}"></i></button>
                                </form>
                            {% endif %}
                            {{spc.quant}}
                            {% if object.status == object.FORMING and not isread %}
                                <form method="post">{% csrf_token %}
                                    <input type="hidden" name="up" value="{{spc.id}}" />
                                    <button type="submit"><i class="{% if spc.ware.rest_quant > 1 %}fas fa-plus{% endif %}"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{spc.price|floatformat:2}}</td>
                        <td>{{spc.cost|floatformat:2}}</td>
                        {% if object.status == object.FORMING and not isread %}
                            <td class="bascket_actions_row" >
                                <form action="" method="post">{% csrf_token %}
                                    <input type="hidden" name="del" value="{{spc.id}}" />
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" >{% trans "Total" %}</td>
                    <td colspan="3" >{{object.total_cost|floatformat:2}}</td>
                </tr>
            </table>
            {% if object.status == object.FORMING and not isread %}
                <div class="basketPage__buy">
                    <form action="{% url 'main:payment' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="pay"/>
                        <input onclick="addNew(this);return false;" type="submit" value="{% trans 'Payment' %}">
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
{% block jscripts %}
    <script type="text/javascript">
    function addNew() {
    var obj = arguments[0];
    var form = obj.closest('form');
    if (form && obj) {
    $.post(form.action, $(form).serialize(), function(data) {
    window.location.reload(true);
    });
    }
    }
    </script>
{% endblock jscripts %}
