{% extends "mainapp/base_selforder.html" %}
{% load static i18n %}
{% block content %}
    <div class="h2 text-center head">
        {% trans "Yours invoces" %}, {% if user.first_name %}{{ user.first_name|title}}{% else %}{% trans "User" %}{% endif %}
    </div>
    <table class="table orders_list">
        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Modific" %}</th>
                <th>{% trans "Summ" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                {% if item.active %}
                    <tr>
                        <td class="td1 orders_list">{{ item.pk }}</td>
                        <td>{{ item.date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.date_modif|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.total_cost|floatformat }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>
                            <form action="{% url 'main:self_order_read' item.pk %}" method="get">
                                <button type="submit" class="btn btn-default btn-xs">
                                {% trans "view" %}
                                </button>
                            </form>
                        </td>
                        <td>
                            {% if item.status == item.FORMING %}
                                <form action="{% url 'main:self_order_update' item.pk %}" method="get">
                                    <button type="submit" class="btn btn-default btn-xs">
                                    {% trans "edit" %}
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status == item.FORMING %}
                                <form action="{% url 'main:self_order_delete' item.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-default btn-xs" type="submit" value="item.pk">{% trans "delete" %}</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default btn-round">
    <a href="{% url 'main:home' %}">
        {% trans "HOME" %}
    </a>
    </button>
    <button class="btn btn-default btn-round">
    <a href="{% url 'main:self_order_create' %}">
        {% trans "New" %}
    </a>
    </button>
{% endblock %}
