{% extends "mainapp/base_selforder.html" %}
{% load static i18n %}

{% block content %}
    {% include 'mainapp/includes/inc_order_summary.html' %}
    <div class="basket_list">
        {% for item in object.spc.select_related %}
            <div class="basket_record">
                <img src="{{ item.ware.pictures.all.0.image.url }}" alt="{{ item.ware.pictures.all.0.image.title }}">
                <span class="category_name">{{ item.ware.category.title }}</span>
                <span class="product_name">{{ item.ware.title }}</span>
                <span class="product_price">{{ item.price }}&nbsp;/{% trans "sq" %}</span>
                <span class="product_quantitiy">x {{ item.quant }} {% trans "шт." %}</span>
                <span class="product_cost"> = {{ item.cost }}&nbsp;/{% trans "sq" %}</span>
            </div>
        {% endfor %}
    </div>
    {% include 'mainapp/includes/inc_order_actions.html' %}

{% endblock %}
