{% extends "base.html" %}{% load i18n %}
{% block content %}
    <div class="center marging-section text" style="text-align:center;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="{% trans 'Save' %}">
        </form>
    </div>
{% endblock content %}