{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="main-products">
        <h1 class="main-products__title">{% trans "Our Products Range" %}</h1>
        {% if serch %}
            <div class="products-menu">
                <form action="" method="post">{% csrf_token %}
                    {{form}}
                    <input type="submit" name="submit" value="Send">
                </form>
            </div>
        {% else %}
            {% include "mainapp/includes/inc-product_menu.html" %}
        {% endif %}
        <div class="trending-products__products padding-site">
            {% for product in object_list %}
                <article class="trending-products__item">
                    {% with product.pictures.all.0.image as img %}
                        <a class="trending-products__link" href="{% url 'main:products_detail' product.id %}"><img src="{{img.url}}" alt="{% trans img.title %}"></a>
                    {% endwith %}
                </article>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="main-products__pagination">
                <span class="main-products__page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'main:products' %}?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                    {% endif %}
                    <span class="main-products__page-current">
                        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'main:products' %}?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        <a class="main-products__load" href="#"><i class="main-products__iload fas fa-sync-alt"></i></a>
        {% include "mainapp/includes/snippets/inc-promo-product.html" %}
    </div>
{% endblock content %}
