{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <div class="center marging-section text padding-site">
        <form method="post" class="update-product">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Save' %}">
        </form>
    </div>
    <div class="product-slider__switcher">
        {% include 'mainapp/includes/inc-change_pic_gallery.html' with images=object.pictures.all %}
    </div>
{% endblock content %}