{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <section class="slider padding-site">
        {% include 'mainapp/includes/snippets/inc-slider-info.html' with h3_text="TRENDING" %}
    </section>
    <section class="featured-product padding-site marging-section">
        <div class="tab-control featured-product__item">
            <ul class="tab-control__tabs">
                <li class="tab-control__tabs-item"><a class="tab-control__link {% if new_list == None %}tab-control__tabs_active{% endif %}" href="{% url 'main:home' %}">{% trans "Featured" %}</a></li>
                <li class="tab-control__tabs-item"><a class="tab-control__link {% if new_list %}tab-control__tabs_active{% endif %}" href="{% url 'main:home' %}?new_list=1">{% trans "New" %}</a></li>
            </ul>
            {% include 'mainapp/includes/snippets/inc-explore-all.html' with extra_class="featured-product__lnk-ghost" %}
        </div>
        {% include "mainapp/includes/inc-tab-content.html" %}
    </section>
    {% include "mainapp/includes/snippets/inc-promo-product.html" %}
    <section class="trending-products padding-site">
        <div class="trending-products__title">
            <h2 class="trending-products__h2">{% trans "Trending Products" %}</h2>
            {% include 'mainapp/includes/snippets/inc-explore-all.html' with extra_class="trending-products__lnk-ghost" %}
        </div>
        <div class="trending-products__products">
            {% for pt in popular_list %}
                <article class="trending-products__item">
                    <a class="trending-products__link" href="{% url 'main:products_detail' pt.id %}"><img src="{{pt.pictures.all.0.image.url}}" alt="{% trans 'product-tr' %}"></a>
                </article>
            {% endfor %}
        </div>
    </section>
    <section class="hot-deals slider padding-site marging-section">
        {% include 'mainapp/includes/snippets/inc-slider-info.html' with h3_text="HOT DEAL" ex_cls="hot-deals__info" ex_h3="hot-deals__h3" ex_h2="hot-deals__h2" ex_text="hot-deals__text" ex_btn="hot-deals__button" %}
    </section>
    <section class="exclusive-product padding-site marging-section">
        <article class="exclusive-product__item_lg">
            <img class="exclusive-product__img" src="{% static 'images/exclusiv-img1-lg.jpg' %}" alt="{% trans 'promo-img' %}">
            <div class="exclusive-product__info">
                <h3 class="exclusive-product__h3">{% trans "EXCLUSIVE" %}</h3>
                <h2 class="exclusive-product__h2">{% trans "fishnet chair" %}</h2>
                <p class="text exclusive-product__text">{% blocktrans %}Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt{% endblocktrans %}</p>
                {% include "mainapp/includes/snippets/inc-order.html" with long=1 extra_cls="exclusive-product__button" %}
            </div>
        </article>
        <div class="exclusive-product__list">
            {% for obj in object_list|slice:":4" %}
                {% include "mainapp/includes/inc-exclusive-product.html" with excl=obj %}
            {% endfor %}
        </div>
    </section>
    <section class="mobile-app padding-site marging-section">
        <div class="mobile-app__info">
            <h4 class="mobile-app__h4">{% trans "MOBILE APP" %}</h4>
            <h2 class="mobile-app__h2">{% trans "FIND" %}. {% trans "FOLLOW" %}. {% trans "FAVORITE" %}.</h2>
            <p class="mobile-app__text">{% trans "Save your favorites and share your style" %}.</p>
        </div>
        <div class="mobile-app__link-play">
            <a class="mobile-app__apple-store" href='#'><img alt='{% trans "Download on the App Store" %}' src='{% static "images/app-store.jpg" %}' /></a>
            <a class="mobile-app__google-play" href='#'><img alt='{% trans "Get it on Google Play" %}' src='{% static "images/google-play.jpg" %}'/></a>
        </div>
    </section>
{% endblock content %}
