{% extends "base.html" %}
{% load static i18n my_tags %}
{% block content %}
    <div class="product-detail">
        {% include "mainapp/includes/inc-product_menu.html" %}
        <div class="product-slider">
            <img class="product-slider__item_full" src="{{ product.pictures.all.0.image.url }}" alt="{% trans 'product-slider' %}">
            <div class="product-slider__switcher">
                {% for img in object.pictures.all %}
                    <a href="#"><img class="product-slider__item{% if img == product.pictures.all.0 %} product-slider__item_active{% endif %}" src="{{ img.image.url }}" alt="{% trans 'controll' %}"></a>
                {% endfor %}
            </div>
        </div>
        <div class="product-info">
            <h1 class="product-info__h1">{% trans object.maker.title %} {% trans object.title %}</h1>
            <h3 class="product-info__h3">{% trans "HOT DEAL" %}</h3>
            <div class="product-info__price">$&nbsp;<span class="product-info__price_num">{% tf price %}</span>/{% trans "sq" %}</div>
            {% include "mainapp/includes/snippets/inc-order.html" with long=1 det=1 prod=object.id %}
            <p class="product-info__text">{% trans object.description|dot_end %}</p>
            {% if request.user.is_staff %}
                <div class="actions-object">
                    <a href="{% url 'main:products_add' %}">{% trans "Add" %}</a>
                    <a href="{% url 'main:products_update' object.id %}">{% trans "Change" %}</a>
                    <a href="{% url 'main:products_delete' object.id %}">{% trans "Delete" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="related-product padding-site">
        <div class="related-product__title trending-products__title">
            <h2 class="related-product__h2 trending-products__h2">{% trans "Related Products" %}</h2>
            {% include 'mainapp/includes/snippets/inc-explore-all.html' with extra_class="trending-products__lnk-ghost" %}
        </div>
        <div class="trending-products__products">
            {% for rp in related_products %}
                <div class="trending-products__item">
                    <a href="{% url 'main:products_detail' rp.id %}"><img class="related-product__img" src="{{rp.pictures.all.0.image.url}}" alt="{% trans 'related-product' %}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="marging-section"></div>
{% endblock content %}