{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <form class="text marging-section padding-site" method="post">{% csrf_token %}
        <p>{% blocktrans %}
            Are you sure you want to delete "{{ object }}"?
        {% endblocktrans %}</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock content %}