.info-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-height: 101px;
    flex-wrap: wrap;

    &__item {
        list-style: none;
    }

    &__link {
        color: @proj-black;
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }

}
