{% extends "base.html" %}{% load i18n %}
{% block content %}
    <h1 class="authForm__title main-products__title">{% trans "Buy from us" %}</h1>
    <div class="authForm">
        <form class="authForm__form" method="post" >
            {% csrf_token %}
            {{form}}
            <button type="submit">{% trans 'Log in' %}</button>
            <button class="btn btn-round form-control">
                <a href="{% url "social:begin" "google-oauth2" %}?next=/">{% trans "Google+ sign in" %}</a>
            </button>
        </form>
    </div>
{% endblock content %}
