{# {% extends "base.html" %} #}
{% load static i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html lang="en">
<head>{% spaceless %}
    <meta charset="UTF-8">
    <title>{% trans "Registration" %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/project.css' %}?v={{VERSION}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block extrastyle %}{% endblock extrastyle %}
{% endspaceless %}</head>
<body>
    <div class="container">
        <header class="padding-site">

        </header>
        <main class="content padding-site">
            {% block content %}
                <h1 class="authForm__title main-products__title">{% trans "Registration" %}</h1>
                <div class="authForm">
                    <form class="authForm__form" action="{% url 'acc:singup' %}" method="post" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-round form-control">{% trans 'Save' %}</button>
                    </form>
                </div>
            {% endblock content %}
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block jscripts %}{% endblock jscripts %}
</body>
</html>


