.footer {
    background-color: #f7f7f7;
    height: 384px;
    padding-top: 125px;
    padding-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fa-paper-plane {
        margin-left: 12px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__contact {
    }

    &__h3 {
        color: @proj-grey;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1px;
    }

    &__text {
    }

    &__contact-text {
        max-width: 228px;
        margin-top: 21px;
        line-height: 22px;
    }

    &__info {
        width: 422px;
    }

    &__touch {
        width: 370px;
        height: 147px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__touch-text {
        max-width: 363px;
        line-height: 14px;
    }

    &__inbox {
        position: relative;
    }

    &__email {
        border-width: 1px;
        border-color: #d9dee1;
        border-style: solid;
        background-color: #fff;
        width: 367px;
        padding: .375rem .75rem;
        padding-right: 48px;
        font-size: 14px;
        line-height: 36px;
        border-radius: .3rem;
        position: absolute;
        color: @proj-grey;
        box-sizing: border-box;

        &:focus {
            outline: none;
            box-shadow: 0px 2px 4.85px 0.15px @proj-grey;
        }

    }

    &__submit {
        color: @proj-grey;
        font-size: 22px;
        line-height: 48px;
        position: absolute;
        right: 1%;
        width: 48px;
        border-radius: .3rem;
        background-color: transparent;
        box-shadow: none;

        &:hover {
            box-shadow: 0px 2px 4.85px 0.15px @proj-black;
            transition: .3s;
        }

    }

    &__copy-text {
        color: @proj-grey;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        // width: 130px;
        // display: inline-block;
        // vertical-align: middle;

        img {
            height: 25px;
            margin-left: 5px;
            filter: grayscale(100%);
            opacity: .75;

            &:hover {
                opacity: 1;
                filter: grayscale(0);
            }

        }

    }

    &__social-link {
        opacity: .75;

        &:hover {
            opacity: 1;
        }

        &:focus {
            color: #3d90ce;
        }

    }

    &__social-fab {
        color: white;
        background-color: @proj-grey;
        font-size: 14px;
        border-radius: 50%;
        width: 28px;
        line-height: 28px;
        text-align: center;
    }

    &__info-list {
        margin-top: 21px;
    }

}
