.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;

    &__item {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #C4C4C4;
        margin-left: 5px;
        margin-right: 5px;

        &_active {
            width: 40px;
            height: 40px;
            background-color: #1C1C1C;
        }

        &:hover:not(.nav__item_active) {
            box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
        }

    }

}
