.trending-products {
    margin-top: 119px;

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__h2 {
        color: @proj-black;
        font-size: 34px;
        font-weight: 700;
        text-align: left;
        line-height: 35px;
    }

    &__lnk-ghost {
    }

    &__products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 34px;
    }

    &__item {
        height: 370px;
        margin-top: 30px;

        &:hover {
            .hover();
        }

    }

    &__link {
    }

}
