{% load static i18n %}
<section class="promo-product marging-section">
    <article class="promo-product__item">
        <img class="promo-product__img" src="{% static 'images/promo-img1.jpg' %}" alt="{% trans 'promo-img' %}">
        <div class="promo-product__info">
            <h3 class="promo-product__h3">{% trans "EXCLUSIVE" %}</h3>
            <h2 class="promo-product__h2">{% trans "fishnet chair" %}</h2>
            <p class="text promo-product__text">{% blocktrans %}Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt{% endblocktrans %}</p>
            {% include "mainapp/includes/snippets/inc-order.html" with long=1 extra_cls="promo-product__button" %}
        </div>
    </article>
    <article class="promo-product__item">
        <img class="promo-product__img" src="{% static 'images/promo-img.jpg' %}" alt="{% trans 'promo-img' %}">
        <div class="promo-product__info">
            <h3 class="promo-product__h3">{% trans "EXCLUSIVE" %}</h3>
            <h2 class="promo-product__h2">{% trans "fishnet chair" %}</h2>
            <p class="text promo-product__text">{% blocktrans %}Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt{% endblocktrans %}</p>
            {% include "mainapp/includes/snippets/inc-order.html" with long=1 extra_cls="promo-product__button" %}
        </div>
    </article>
</section>