{% load static i18n %}
<form action="{% if prod %}{% url 'main:order' prod %}{% else %}{% endif %}" method="post">{% csrf_token %}
<input type="hidden" id="price" name="price" value="{% if price %}{{price}}{% else %}0{% endif %} " />
<button type="submit" class="button button_push{% if long %} button_long{% endif %} {{extra_cls}}">
{% if det %}
    {% trans "ORDER US" %}<img src="{% static 'images/arrow-detail.png' %}" alt="{% trans 'arrow-detail' %}">
    {% elif bg %}
    <img src="{% static 'images/arrow_bg.jpg' %}" alt="{% trans 'arrow' %}">
{% else %}
    {% trans "ORDER US" %}<img src="{% static 'images/arrow_sm.jpg' %}" alt="{% trans 'arrow' %}">
{% endif %}
</button>
</form>