{% load static i18n %}
<div class="slider__info {{ ex_cls }}">
    <h3 class="slider__h3 {{ ex_h3 }}">{% trans h3_text %}</h3>
    <h2 class="slider__h2 {{ ex_h2 }}">{% trans "FISHNET CHAIR" %}</h2>
    <p class="text slider__text {{ ex_text }}">{% blocktrans %}
        Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated black{% endblocktrans %}</p>
    {% if ex_btn %}
        {% include "mainapp/includes/snippets/inc-order.html" with long=1 extra_cls="slider__button "|add:ex_btn %}
    {% else %}
        {% include "mainapp/includes/snippets/inc-order.html" with long=1 extra_cls="slider__button" %}
    {% endif %}
</div>
<div class="nav slider__nav">
    <a class="nav__item" href="#"></a>
    <a class="nav__item nav__item_active" href="#"></a>
    <a class="nav__item" href="#"></a>
</div>
