.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 3;
    // flex-grow: 1;

    &__logo {
        margin-top: 63px;
    }

    &__logo-img {
    }

    &__menu-group {
        display: flex;
        margin-top: 57px;
        margin-right: 69px;
    }

    &__menu {
    }

    &__search {
        margin-left: 8px;
    }

    &__search-img {
    }

    &__basket {
        margin-left: 8px;
    }

    &__basket-img {
    }

}

.messages {
    z-index: 1;
    list-style: none;
}
