.tab-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin-top: 50px;

    &_hidden {
        opacity: 0;
        margin: auto;
        position: absolute;
        transition: .5s;
        text-align: center;
        border: 1px solid @proj-grey;
        background-color: @proj-white;
        width: 268px;
        height: 268px;
    }

    &__product {
        display: flex;
        position: relative;
        max-height: 570px;

        &:hover {
            .tab-content_hidden {
                opacity: 0.9;
            }

        }

    }

    &__img {
        height: 270px;
        width: 270px;
    }

    &__h3 {
        color: @proj-black;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 23px;
    }

    &__text {
        width: 211px;
        color: @proj-grey;
        line-height: 17px;
        text-align: center;
        margin: auto;
    }

    &__button {
        width: 48px;
        height: 48px;
        margin: 62px auto 19px auto;
        border-radius: 50%;
        line-height: 55px;
        font-size: 20px;
    }

}
