{% load i18n %}
<ul class="menu header__menu">
    {% for mm in main_menu %}
            {% if mm.get_url == 'acc:profile' %}
                <li class="menu__item menu__item_prof"><a class="menu__link{% if mm.get_url in curr_path_name %} menu_active{% endif %}" href="{% if mm.get_url == '#' %}#{% else %}{% url mm.get_url %}{% endif %}">{% trans mm.title %}</a>
            {% else %}
                <li class="menu__item"><a class="menu__link{% if mm.get_url in curr_path_name %} menu_active{% endif %}" href="{% if mm.get_url == '#' %}#{% else %}{% url mm.get_url %}{% endif %}">{% trans mm.title %}</a>
            {% endif %}
            <div class="menu__dropprofil">
            {% for mmm in mm.submenu %}
                    <a class="menu__link" href="{% if mmm.get_url == '#' %}#{% else %}{% url mmm.get_url %}{% endif %}">{% trans mmm.title %}</a>
            {% endfor %}
            </div>
            </li>
    {% endfor %}
</ul>
