{% load i18n %}
<ul class="products-menu padding-site">
    <li><a class="products-menu__item {% if curr_path_name == 'main:products' %} products-menu__item_active{% endif %}" href="{% url 'main:products' %}">{% trans "ALL" %}</a></li>
    {% for cat in category %}
        {% url 'main:products_category' cat.id as u %}
        <li><a class="products-menu__item{% if request.path == u %} products-menu__item_active{% endif %}" href="{% url 'main:products_category' cat.id %}">{% trans cat.title %}</a></li>
    {% endfor %}
</ul>