{% load i18n %}
<div class="product-slider">
    {% if images %}
        <div class="product-slider__switcher">
            <div class="block">
                <a href="{% url 'main:createPicture' object.id %}">
                    <div class="text" style="display:block">
                        {% trans 'Add' %}
                    </div>
                </a>
            </div>
            {% for img in images %}
                <div class="info-list text">
                    <img class="product-slider__item" src="{{ img.image.url }}" alt="{% trans 'controll' %}">
                    <a href="{% url 'main:deletePicture' img.id %}">
                        {% trans 'Delete' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>