{% load static i18n cache %}
<div class="tab-content featured-product__item">
    {% for prod in tab_content|slice:"4" %}
        <article class="tab-content__product">
            {% cache 120 tab_content prod.id %}
                <img class="tab-content__img" src="{{prod.pictures.all.0.image.url}}" alt="{% trans 'product' %}">
                <div class="tab-content_hidden">
                    {% include "mainapp/includes/snippets/inc-order.html" with bg=1 price=prod.pricelist.all.0.price prod=prod.id extra_cls="tab-content__button" %}
                    <h3 class="tab-content__h3">{% trans "Fishnet Chair" %}</h3>
                    <p class="text tab-content__text">{% blocktrans %}Seat and back with upholstery made of&nbsp;cold cure foam{% endblocktrans %}</p>
                </div>
            {% endcache %}
        </article>
    {% endfor %}
</div>
