{% load i18n %}
<div class="locations__location main-contact__location">
    <i class="locations__imap fas fa-map-marker-alt"></i>
    <h3 class="locations__h3">{% trans location.title %}</h3>
    <label class="locations__lblphone" for="locations__phone">{% trans "Phone" %}:</label>
    <div class="locations__phone">{% trans location.phone_number %}</div>
    <label class="locations__lblemail" for="locations__email">{% trans "Email" %}:</label>
    <div class="locations__email">{% trans location.email %}</div>
    <label class="locations__lbladdres" for="locations__addres">{% trans "Address" %}:</label>
    <div class="locations__addres">{% trans location.addres %}</div>
</div>