{% load i18n %}
<article>
    <a href="{% url 'main:products_detail' excl.id %}" class="exclusive-product__item_sm"><img class="exclusive-product__img" src="{{excl.pictures.all.0.image.url}}" alt="{% trans 'exclusiv-img' %}"></a>
</article>