{% load i18n %}
{% if object %}
    <div class="h2">{% trans "Invoice №" %}{{ object.pk }} от {{ object.date|date:"Y-m-d H:i:s" }}</div>
    <hr>
    <div class="h4">{% trans "customer" %}: {{ user.last_name }} {{ user.first_name }} </div>
    <div class="h4">{% trans "updated" %}: {{ object.date_modif|date:"Y-m-d H:i:s" }}</div>
    <div class="h4">{% trans "status" %}: {{ object.get_status_display }}</div>
    <hr>
    <div class="h4">
        {% trans "total quantity of goods" %}: <span class="order_total_quantity">{{ object.total_quant|floatformat }}</span>
    </div>
    <div class="h3">
        {% trans "total cost" %}: <span class="order_total_cost">{{ object.total_cost|floatformat }}</span> {% trans "sq" %}
    </div>
{% endif %}
<hr>
