{% load i18n %}
{% if object and object.status == object.FORMING %}
    <form method="post" action="{% url 'main:self_order_to_proc' object.pk %}">
        {% csrf_token %}
        <button class="btn btn-warning btn-round form-control last" type="submit">{% trans "Sent to proceed" %}</button>
    </form>
    <button class="btn btn-default btn-round form-control last">
    <a href="{% url 'main:self_order_delete' object.pk %}">{% trans "Delete" %}</a>
    </button>
{% endif %}
<button class="btn btn-info btn-round form-control last">
<a href="{% url 'main:self_order_list' %}">
    {% trans "To invoice list" %}
</a>
</button>
<button class="btn btn-default btn-round form-control last">
<a href="{% url 'main:home' %}">{% trans "Home" %}</a>
</button>
