@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro/GothamPro-Light.eot');
    src: url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.product-detail {
    margin-top: 29px;

    .products-menu {
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: #f4f4f4;

        &__item,
        &__item_active {
            border-bottom: none;
            padding: 0 13px;
            letter-spacing: normal;
        }

    }

    .product-slider {
        margin-top: 72px;
    }

}
