.basket {
    display: block;
    width: 23px;
    height: 23px;
}

.basketPage {
    margin-bottom: 120px;

    &__title {
    }

    tr:first-of-type {
        height: 60px;
    }

    &__table {
        width: 100%;

        &_quant {
            display: flex;
            justify-content: space-around;
        }

    }

    &__table,
    th,
    td {
        border-collapse: collapse;
        border: solid 1px grey;
        text-align: center;
    }

    &__text {
        text-align: center;
    }

    &__buy {
        display: flex;
        justify-content: flex-end;
    }

}

.bascket_actions_row {
    display: flex;
}
