.tab-control {
    display: flex;
    justify-content: space-between;
    color: @proj-grey;
    font-size: 36px;
    font-weight: 700;
    text-align: left;

    &__link {
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 20px;
        text-decoration: none;
        display: block;
        line-height: 27px;
        color: @proj-grey;

        &:hover:not(.tab-control__tabs_active) {
            color: #505050;
        }

    }

    &__tabs {
        display: flex;
        width: 300px;
        justify-content: space-around;
        list-style-type: none;
        border-bottom: 1px solid @proj-grey;

        &_active {
            color: @proj-black;
            border-bottom: 3px solid @proj-black;
            font-size: 35px;
        }

    }

    &__tabs-item {
    }

}
