{% load staticfiles %}
{% load i18n %}
<div class="product">
    <div class="sneakers">
        <img src="{{ product.pictures.all.0.image.url }}" alt="title">
        <div class="desc">
            <h1>{{ object.maker.title }}</h1>
            <h3>{{ object.title }}</h3>
            <p>Sizes: 38-44</p>
            <a class="button_link" href="#">Add to basket</a>
        </div>
    </div>
</div>