{% load staticfiles %}
{% load i18n %}
<div class="block">
    <a href="{% url 'main:products_detail' product.id %}"><img src="{{product.pictures.all.0.image.url}}" alt="{{product.mfr.title}}"></a>
    <p><span>{{product.mfr.title}}</span></p>
    <p>{{product.title}}</p>
</div>