.slider {
    height: 800px;
    background-image: url(../images/slider-img.jpeg);
    padding-top: 373px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__info {
    }

    &__h3 {
        color: #43a047;
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;
        margin-bottom: 22px;
    }

    &__h2 {
        color: @proj-black;
        font-size: 57px;
        font-weight: 100;
        line-height: 43px;
        text-align: left;
        margin-bottom: 34px;
        text-transform: uppercase;
    }

    &__text {
        color: @proj-grey;
        line-height: 19px;
        text-align: left;
        margin-bottom: 32px;
        width: 475px;
    }

    &__button {
        margin-top: 32px;
    }

    &__nav {
        margin-bottom: 20px;
    }

}
