{% load static i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html lang="en">
    <head>{% spaceless %}
        <meta charset="UTF-8">
    <title>{% block title %}{% trans "INTERIOR" %}{% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}?v={{VERSION}}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
{% endspaceless %}
</head>
<body>
<div class="container">
    <header class="header padding-site">
        <a href="{% url 'main:home' %}" class="logo header__logo"><img src="{% static 'images/logo.png' %}" alt="{% trans 'logo' %}" class="header__logo-img"></a>
        <nav class="header__menu-group">
            {% include "mainapp/includes/inc-main-menu.html" %}
            <a class="search header__search" href="{% url 'main:serch' %}">
                <img src="{% static 'images/search.png' %}" alt="{% trans 'search' %}" class="header__search-img">
            </a>
            <a class="basket header__basket" href="{% url 'main:basket' %}"><img class="header__basket-img" src="{% static 'images/basket.png' %}" alt="{% trans 'basket' %}"></a>
        </nav>
    </header>
    {% include "mainapp/includes/inc-messages.html" %}
    <main class="content {{ menu_over }}">
        {% block content %}
        {% endblock content %}
    </main>
    {% block footer %}
        <footer class="footer padding-site">
            <div class="footer__item">
                <div class="footer__contact">
                    <h3 class="footer__h3">{% trans "CONTACT US" %}</h3>
                    <p class="text footer__text footer__contact-text">{% trans "132A Bridge Road Richmond VIC&nbsp;Australia." %}<br><br>
                        {% trans "Talk to&nbsp;us on&nbsp;1300&nbsp;132" %}<br>
                    {% trans "info@interior.com" %}</p>
                </div>
                <div class="footer__info">
                    <h3 class="footer__h3">{% trans "USEFUL INFORMATION" %}</h3>
                    <ul class="info-list footer__info-list">
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "SALES TERMS" %}</a></li>
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "CUSTOMER CARE" %}</a></li>
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "DELIVERY" %}</a></li>
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "ARCHITECT ACCOUNTS" %}</a></li>
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "CAREERS" %}</a></li>
                        <li class="info-list__item"><a class="info-list__link" href="#">{% trans "EXCHANGES &amp;&nbsp;RETURNS" %}</a></li>
                    </ul>
                </div>
                <div class="footer__touch">
                    <h3 class="footer__h3">{% trans "LET&rsquo;S STAY IN&nbsp;TOUCH!" %}</h3>
                    <p class="text footer__touch-text">{% trans "Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers." %}</p>
                    <div class="footer__inbox">
                        <input class="footer__email" type="email" name="email" placeholder="{% trans 'your email address' %}">
                        <a href="#" class="submit footer__submit"><i class="fas fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <p class="footer__copy-text">&copy;&nbsp;{% trans "COPYRIGHT" %}&nbsp;&mdash; {% trans "INTERIOR 2016" %}.{% trans "ALL" %}&nbsp;{% trans "RIGHTS RESERVED" %}.</p>
                <div class="footer__social">
                    <a class="footer__social-link" href="https://www.facebook.com" target="_blank"><img src="{% static 'images/facebook.svg' %}" title="Facebook"></a>
                    <a class="footer__social-link" href="https://twitter.com" target="_blank"><img src="{% static 'images/twitter.svg' %}" title="Twitter"></a>
                    <a class="footer__social-link" href="https://plus.google.com" target="_blank"><img src="{% static 'images/google-plus.svg' %}" title="Google+"></a>
                    <a class="footer__social-link" href="https://www.pinterest.com" target="_blank"><img src="{% static 'images/pinterest.svg' %}" title="Pinterest"></a>
                </div>
                <p class="footer__copy-text">{% trans "TERMS &amp;&nbsp;CONDITIONS&nbsp;/ PRIVACY POLICY &amp;&nbsp;COOKIES" %}</p>
            </div>
        </footer>
    {% endblock footer %}
</div>
<script src="{% static 'js/jquery_3_2_1_min.js' %}?v={{ VERSION }}"></script>
{% block jscripts %}{% endblock jscripts %}
</body>
</html>
