.mobile-app {
    background-image: url(../images/mob-img.jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 125px;
    height: 516px;

    &__info {
    }

    &__h4 {
        color: @proj-grey;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
    }

    &__h2 {
        margin-top: 10px;
        color: @proj-black;
        max-width: 407px;
        font-size: 60px;
        font-weight: 100;
        line-height: 60px;
        letter-spacing: -5px;
    }

    &__text {
        margin-top: 10px;
        max-width: 420px;
    }

    &__link-play {
        margin-top: 30px;
    }

    &__apple-store {
        margin-right: 5px;
    }

    &__google-play {
    }

}
