{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Authorization" %}
{% endblock title %}

{% block context %}
    <div class="auth">
    	<a class="button_link" href="{% url 'accounts:login' %}">Log in</a>
    	<a class="button_link" href="{% url 'accounts:registration' %}">Create profile</a>
    </div>
{% endblock context %}