{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'theme1/css/styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'theme1/img/favicon.png' %}">
        <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
        <title>
        {% block title %}
            {% trans "Sneakers shop" %}
        {% endblock title %}
        </title>
    </head>
    <body>
        <div class="header">
            <div class="empty_block"></div>
            <div class="log_menu">
                <a href="/"><img src="{% static 'theme1/img/Screenshot from 2018-09-02 21-34-39.png' %}" alt="{% trans 'emblem' %}"></a>
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'main:home' %}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'main:products' %}">{% trans 'Catalogue' %}</a></li>
                        <li><a href="{% url 'main:contacts' %}">{% trans 'Contacts' %}</a></li>
                        <li><a href="{% url 'acc:login' %}">{% trans 'Authorization' %}</a></li>
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="main">
                    <a href="#">basket</a>
                    <a href="{% url 'acc:logout' %}">{% trans 'Log out' %}</a>
                </div>
            {% else %}
                <div class="empty_block"></div>
            {% endif %}
        </div>
        <div class="container">
            {% block context %}
            {% endblock context %}
        </div>
        <div class="footer">
            <p>&copy;{% trans 'Copyright - Sneakers 2018. All rights reserved.' %}</p>
            <!--     <div class="icon_links">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div> -->
            <div class="terms">
                <a href="#">{% trans 'Terms &amp; conditions' %}</a>
                <p>/</p>
                <a href="#">{% trans 'Privacy policy &amp; cookies' %}</a>
            </div>
        </div>
    </body>
</html>