{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    {% trans "Catalogue" %}
{% endblock title %}
{% block context %}
    <div class="catalogue">
        <div class="row_1">
            {% for product in products|slice:":3" %}
                {% include 'theme1/includes/product.html' %}
            {% endfor %}
        </div>
        <div class="row_2">
            {% for product in products|slice:"3:6" %}
                {% include 'theme1/includes/product.html' %}
            {% endfor %}
        </div>
        <div class="row_3">
            {% for product in products|slice:"6:9" %}
                {% include 'theme1/includes/product.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock context %}