{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Create product" %}
{% endblock title %}

{% block context %}
    <div class="center">
        <form class="create_form" action="/create/" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Post">
        </form>
    </div>
{% endblock context %}
