{% include 'basket/includes/head.html' with title='Order' %}
{% load staticfiles %}
{% load i18n %}

<body>
    {% include 'basket/includes/header.html' %}
    <div class="container">
    	<div class="context">
    		<form action="#">
    			
    		</form>
    	</div>

    </div>
	{% include 'basket/includes/footer.html' %}
</body>

</html> 