* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body:extend(html) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.container {
    width: 1366px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}
