.hot-deals {
    background-image: url(../images/slider-img1.jpg);
    padding-top: 287px;

    &__info {
    }

    &__h3 {
        color: @proj-red;
    }

    &__h2 {
    }

    &__text {
    }

    &__button {
    }

}
