{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ flatpage.title }}{% endblock title %}
{% block content %}
<div class="aboutUs text">
    <h1 class="aboutUs__h1 exclusive-product__h2">{% trans flatpage.title %}</h1>
    <p class="aboutUs__text slider__text">{% trans flatpage.content %}</p>
</div>
{% endblock content %}