.exclusive-product {
    max-height: 570px;
    display: flex;
    justify-content: space-between;

    &__item {
        &_lg {
            display: flex;
            position: relative;
            max-height: 570px;
            margin-right: 30px;
        }

        &_sm {
            max-height: 270px;
            max-width: 270px;
            display: block;

            &:hover {
                .hover()
            }

            img {
                height: 270px;
                width: 270px;
            }

        }

    }

    &__img {
    }

    &__info {
        padding-top: 228px;
        padding-left: 51px;
        position: absolute;
        margin: auto;
    }

    &__h3 {
        color: @proj-blue;
    }

    &__h2 {
        font-size: 36px;
        font-weight: 700;
        margin-top: 22px;
        text-transform: capitalize;
    }

    &__text {
        margin-top: 24px;
        width: 332px;
        font-size: 13px;
        line-height: 18px;
    }

    &__button {
        margin-top: 34px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

}
