.main-products {
    &__title {
        display: block;
        background-color: #f5f5f5;
        height: 360px;
        padding-left: 101px;
        padding-top: 360px - 56px - 72px;
        position: relative;
        box-sizing: border-box;
        color: @proj-black;
        font-size: 62px;
        font-weight: 100;
        line-height: 72px;
        text-align: left;
    }

    .trending-products__products {
        margin-top: 50px;
    }

    &__load {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 50px auto;
        color: @proj-black;
        text-decoration: none;
        border-radius: 50%;

        &:hover {
            box-shadow: 0px 2px 4.85px 0.15px black;
        }

        &:active .main-products__iload {
            transform: rotate(360deg);
            transition: all .5s
        }

        &:active {
            background-color: #d8f4fe;
        }

    }

    &__iload {
        font-size: 29px;
    }

    .products-menu {
        margin-top: 71px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    &__page-links {
        a {
            .lnk-ghost();
            letter-spacing: 1px;
        }

    }

}
