{% load i18n %}
<div class="product-slider">
    <div class="product-slider__switcher">
        <div class="block">
            <a href="{% url 'acc:createAvatar' object.id %}">
                <div class="text" style="display:block">
                    {% trans 'Add' %} {% trans 'Avatar' %}
                </div>
            </a>
        </div>
        {% if images %}
            {% for img in images %}
                <a href="#">
                    <img class="product-slider__item" src="{{ img.image.url }}" alt="{% trans 'controll' %}">
                    <a href="{% url 'acc:deleteAvatar' img.id %}">
                        <div class="text">
                            {% trans 'Delete' %}
                        </div>
                    </a>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>