.update-product {
    display: table-caption;

    input[type="text"] {
        font-family: Arial;
        font-size: 13px;
        color: indigo;
        text-transform: capitalize;
    }

    .marging-section()
}
